* {
  box-sizing: border-box;
  
}

html {
  font-family: sans-serif;
}

body {
  margin: 0;
  height: 100vh;
}

label,
input,
textarea {
  display: block;
  margin: 0.5rem 0;
}

label {
  font-weight: bold;
}

input,
textarea {
  font: inherit;
  padding: 0.2rem 0.4rem;
  width: 100%;
  
  border: 1px solid #ccc;
}

input:focus,
textarea:focus {
  outline: none;
  background: #fff5f9;
}

#app {
 width: 100vw;
 height: 100vh;
 margin-bottom: 50px;
  display: flex;
  flex-direction: column;
 align-items: center;
  
}

#app form {
 width: 60%;
}

#app h2 {
  padding: 0;
  margin: 5px;
}

button {
  font: inherit;
  background: #1A5684;
  border: 1px solid #1A5684;
  cursor: pointer;
  color: white;
  padding: 0.75rem 1rem;
}

.remove-button {
  font: iherit;
  font-size: 0.8rem;
  background: #1A5684;
  border: 1px solid #1A5684;
  cursor: pointer;
  color: white;
  padding: 0.5rem;
  margin-left: 15px;
  border-radius: 5px;
}

button:focus {
  outline: none;
}

button:hover,
button:active {
  background: #a80041;
  border-color: #a80041;
}

.tasks {
  margin: 1rem;
  border: 1px solid #FF0000;
  width: 70%;
}

.tasks header {
  background: #FF0000;
  height: 3.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

#finished-tasks {
  border-color: #739B2C;
}

#active-task-list li {
  display: grid;
  grid-template-columns: 1fr 0.5fr 2fr;
  column-gap: 5px;
  align-items: center;
  justify-items: center;
}

#active-task-list li h5 {
  padding: 0.5rem;
  text-align: center;
}
#active-task-list li p {
  text-align: center;
}

#finished-task-list li {
  display: grid;
  grid-template-columns: 1fr 0.5fr 2fr;
  column-gap: 5px;
  align-items: center;
  justify-items: center;
}

#finished-task-list li h5 {
  padding: 0.5rem;
  text-align: center;
}
#finished-task-list li p {
  text-align: center;
}

#finished-tasks header {
  background: #739B2C;
}

.tasks h2 {
  margin: 0;
  color: white;
}

.tasks ul {
  list-style: none;
  margin: 0;
  padding: 1rem;
}

.list-header {
  height: 30px;
  margin-left: 1.2rem;
  margin-right: 0.7rem;
  margin-top: 0;
  margin-bottom: 0;
  display: grid;
  grid-template-columns: 1fr 0.5fr 2fr;
  column-gap: 5px;
  row-gap: 5px;
  align-items: center;
  justify-items: center;

}
#list-header h4 {
  padding: 0.3rem;
}
.tasks li {
  box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.26);
  margin-top: 0.5rem;
  margin-bottom: 0;
  background:white;
}

.tasks li h3 {
  color: #ff0062;
  margin: 0.5rem 0;
  font-size: 1rem;
  padding: 0.5rem;
}

#finished-tasks li h2 {
  color: #0044ff;
}



.droppable {
  background: #ffe3ee;
}

#finished-tasks .droppable {
  background: #d6e1ff;
}

#user-input {
  margin: 1rem;
  padding: 1rem;
  border: 2px solid #1A5684;
  background: #f7f7f7;
}

.minCharacters {
  font-size: 0.7rem;
  margin: 0;
  padding: 0;
}

.form-control label {
  margin: 0;
  padding: 0;
}

.bottom-div {
  height: 10px;
}

